

html {
    scroll-behavior: smooth;
}

/* Popup style */
.popup__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
}

.popup__container.active {
    pointer-events: all;
}

.popup__container.active .popup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup__container .popup__activator {
    position: absolute;
    bottom: 60px;
    right: 20px;
    min-width: fit-content;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    pointer-events: all;
}

.popup__container .popup__activator img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.popup__container .popup__activator p {
    white-space: nowrap;
    margin: 0;
    max-width: 0;
    color: var(--theme-cl-s);
    transition: max-width .8s ease-in-out, opacity .3s ease-in-out;
    margin-right: 0;
    opacity: 0;
    /* padding-right: 5px; */
    text-indent: 5px;
}

.popup__container .popup__activator:hover p {
    max-width: 500px;
    opacity: 1;
    /* display: block; */
}

.popup__container .popup__content {
    display: none;
}


.popup__container.active .popup__content {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    min-width: 300px;
    min-height: fit-content;

    width: 50%;
    /* height: 50%; */
    background-color: white;
    overflow: hidden;
    padding: 10px 0;
}

@media screen and (max-width: 992px) {
    .popup__container.active .popup__content {
        min-width: 90%;
    }

    .blog-search-image img {
        width: 100%;
        height: 200px;
        margin-bottom: 5px;
    }
}

.search-btn {
    scale: 1.05;
    border-radius: 0;
    transition: all .5s;
}

.search-btn:hover {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.205);
}

.show-all-btn i {
    transition: all .5s;
}

.show-all-btn:hover i {
    transform: translateX(-8px) !important;
}

.lawyer-card-cta .btn i {
    transition: all .5s;
}

.lawyer-card-cta .btn:hover i {
    transform: translateX(-8px) !important;
}

.nav-menu>li>a {
    transition: all .3s;
}

.blog-search-image img {

    margin-bottom: 5px;
    border-radius: 5px;
}
